<section class="{{ section.id }}-article-wrapper">
  <div class="{{ section.id }}-article-cont">
    {%- if section.settings.title != blank -%}
      {% render 'article-title',
        title: section.settings.title
      %}
    {%- endif -%}
    <ul class="{{ section.id }}-col2">
      {% for block in section.blocks %}
        <li class="{{ section.id }}-item-list">
          {%- if block.settings.url != blank -%}
            <a href="{{ block.settings.url }}">
              {%- if block.settings.image != blank -%}
                <figure>
                  <img
                    src="{{ block.settings.image | image_url }}"
                    alt="{{ block.settings.item }}"
                    width="100%"
                    height="auto"
                    loading="lazy"
                  >
                </figure>
              {%- endif -%}
              {%- if block.settings.item != blank -%}
                <h3
                  style="
                    font-size: {{ block.settings.item_font_size }}px;
                    color: {{ block.settings.item_font_color }};
                    font-weight: {{ block.settings.item_font_weight }};
                  "
                >
                  {{ block.settings.item }}
                </h3>
              {%- endif -%}
              {%- if block.settings.price != blank -%}
                <p
                  style="
                    font-size: {{ block.settings.price_font_size }}px;
                    color: {{ block.settings.price_font_color }};
                    font-weight: {{ block.settings.price_font_weight }};
                  "
                  class="{{ section.id }}-item-list-price"
                >
                  ￥{{ block.settings.price }}（税込）
                </p>
              {%- endif -%}
              {%- if block.settings.text != blank -%}
                <p
                  style="
                    font-size: {{ block.settings.text_font_size }}px;
                    color: {{ block.settings.text_font_color }};
                    font-weight: {{ block.settings.text_font_weight }};
                  "
                  class="{{ section.id }}-item-list-text"
                >
                  {{ block.settings.text }}
                </p>
              {%- endif -%}
              {%- if block.settings.button != blank -%}
                <button
                  style="
                    font-size: {{ block.settings.button_font_size }}px;
                    color: {{ block.settings.button_font_color }};
                    font-weight: {{ block.settings.button_font_weight }};
                  "
                  class="{{ section.id }}-item-list-button"
                >
                  {{ block.settings.button }}
                </button>
              {%- endif -%}
            </a>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% style %}
  /* common */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  figure {
    margin: 0;
  }
  h3 {
    margin: 0;
  }
  p {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .{{ section.id }}-article-wrapper {
    padding-bottom: {{ section.settings.padding_bottom_pc }}px;
  }
  .{{ section.id }}-article-cont {
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    max-width: 1200px;
  }
  .{{ section.id }}-col2 {
    display: grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  .{{ section.id }}-title {
    padding: 20px 0;
    padding-left: 14px;
    margin-bottom: 40px;
    background-color: #D9D9D9;
  }

  /* item list */
  .{{ section.id }}-item-list-price {
    padding-bottom: 10px;
  }
  .{{ section.id }}-item-list-text {
    padding-bottom: 14px;
  }
  .{{ section.id }}-item-list-button {
    padding: 10px 24px;
    background-color: #D9D9D9;
  }

  @media screen and (max-width: 768px) {
    .{{ section.id }}-article-wrapper {
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }

    .{{ section.id }}-title {
      margin-left: -14px;
      margin-right: -14px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "ブログ記事：ランキング",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "セクションタイトル"
      },
      {
        "type": "range",
        "id": "padding_bottom_pc",
        "label": "下部パディング(PC)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom_sp",
        "label": "下部パディング(SP)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "ranking",
        "name": "ランキング",
        "settings": [
          {
            "type": "textarea",
            "id": "url",
            "label": "商品詳細の遷移先(URL)"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "商品画像"
          },
          {
            "type": "textarea",
            "id": "item",
            "label": "商品名"
          },
          {
            "type": "range",
            "id": "item_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "item_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "item_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          },
          {
            "type": "textarea",
            "id": "price",
            "label": "価格"
          },
          {
            "type": "range",
            "id": "price_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "price_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "price_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "商品説明テキスト"
          },
          {
            "type": "range",
            "id": "text_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "text_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "text_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          },
          {
            "type": "textarea",
            "id": "button",
            "label": "ボタンテキスト"
          },
          {
            "type": "range",
            "id": "button_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "button_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "button_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          }
        ]
      }
    ]
  }
{% endschema %}