<section class="ranking padding-bottom">
  <div class="content padding-LR">
    <div class="title">
      <h2>定期便ランキング</h2>
    </div>
    <ul class="col2">
      {% for block in section.blocks %}
        <li class="item-list">
          <figure>
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.alt }}"
              width="100%"
              height="auto"
              loading="lazy"
            >
          </figure>
          <h3>{{ block.settings.item }}</h3>
          <p class="item-list-price">￥{{ block.settings.price }}（税込）</p>
          <p class="item-list-text">{{ block.settings.text }}</p>
          <a href="" class="item-list-button">{{ block.settings.button }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% style %}
  /* common */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  figure {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .padding-bottom {
    padding-bottom: 100px;
  }
  .padding-LR {
    padding: 0 14px;
  }
  .content {
    margin: 0 auto;
    max-width: 1200px;
  }
  .col2 {
    display: grid;
    grid-template-columns:repeat(2, minmax(0, 1fr));
    gap: 20px;
  }

  /* item list */
  .item-list-price {
    padding-bottom: 10px;
  }
  .item-list-text {
    padding-bottom: 14px;
  }
  .item-list-button {
    padding: 10px 24px;
    width: 100%;
    background-color: #D9D9D9;
  }

  @media screen and (max-width: 768px) {
    .padding-bottom {
      padding-bottom: 50px;
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "ブログ記事：ランキング",
    "settings": [],
    "blocks": [
      {
        "type": "ranking",
        "name": "ランキング",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "商品画像"
          },
          {
            "type": "textarea",
            "id": "item",
            "label": "商品名"
          },
          {
            "type": "textarea",
            "id": "price",
            "label": "価格"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "商品説明テキスト"
          },
          {
            "type": "textarea",
            "id": "button",
            "label": "ボタンテキスト"
          }
        ]
      }
    ]
  }
{% endschema %}