<section class="ranking padding-bottom">
  <div class="content padding-LR">
    {% render 'article-title',
      title: section.settings.title
    %}
    <ul class="col4">
      {% for block in section.blocks %}
        <li class="item-list js-item-list">
          <figure>
            <img
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.alt }}"
              width="100%"
              height="auto"
              loading="lazy"
            >
          </figure>
          <h3>{{ block.settings.item }}</h3>
          <p class="item-list-price">￥{{ block.settings.price }}（税込）</p>
          <p class="item-list-text">{{ block.settings.text }}</p>
          <a href="" class="item-list-button">{{ block.settings.button }}</a>
        </li>
      {% endfor %}
    </ul>
    <div class="more-button-wrapper">
      <button class="more-button js-more-button">もっと見る</button>
    </div>
  </div>
</section>

{% style %}
  /* common */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  figure {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  button {
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .padding-bottom {
    padding-bottom: 100px;
  }
  .padding-LR {
    padding: 0 14px;
  }
  .content {
    margin: 0 auto;
    max-width: 1200px;
  }
  .col4 {
    display: grid;
    grid-template-columns:repeat(4, minmax(0, 1fr));
    gap: 20px;
  }

  .title {
    padding: 20px 0;
    padding-left: 14px;
    margin-bottom: 40px;
    background-color: #D9D9D9;
  }

  /* item list */
  .item-list-price {
    padding-bottom: 10px;
  }
  .item-list-text {
    padding-bottom: 14px;
  }
  .item-list-button {
    padding: 10px 24px;
    width: 100%;
    background-color: #D9D9D9;
  }

  /* more button */
  .more-button-wrapper {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
  }
  .more-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: 500;
  }
  .more-button::after {
    content: "";
    display: block;
    margin-top: 6px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #AAAAAA;
    border-right: 3px solid #AAAAAA;
    transform: translateY(-50%) rotate(135deg);
  }
  .hidden {
    display: none;
  }
  .more-button.open::after {
    margin-top: 14px;
    transform: translateY(-50%) rotate(-45deg);
  }

  @media screen and (max-width: 768px) {
    .padding-bottom {
      padding-bottom: 50px;
    }
    .col4 {
      grid-template-columns:repeat(2, minmax(0, 1fr));
    }
  }
{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    const moreButtons = document.querySelectorAll('.js-more-button');
    const itemLists = document.querySelectorAll('.js-item-list');

    if (itemLists.length && moreButtons.length) {
      itemLists.forEach((itemList, index) => {
        if (index > 3) {
          itemList.classList.add('hidden');
          moreButtons.forEach((moreButton) => {
            moreButton.addEventListener('click', () => {
              if (itemList.classList.contains('hidden')) {
                itemList.classList.remove('hidden');
                moreButton.classList.add('open');
              } else {
                itemList.classList.add('hidden');
                moreButton.classList.remove('open');
              }
            });
          });
        }
      });
    };
  });
</script>

{% schema %}
  {
    "name": "ブログ記事：新着商品",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "セクションタイトル"
      }
    ],
    "blocks": [
      {
        "type": "new-item",
        "name": "新着商品",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "商品画像"
          },
          {
            "type": "textarea",
            "id": "item",
            "label": "商品名"
          },
          {
            "type": "textarea",
            "id": "price",
            "label": "価格"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "商品説明テキスト"
          },
          {
            "type": "textarea",
            "id": "button",
            "label": "ボタンテキスト"
          }
        ]
      }
    ]
  }
{% endschema %}