<section class="faq {{ section.id }}-article-wrapper">
  <div class="content padding-LR">
    {% render 'article-title',
      title: section.settings.title
    %}
    <ul class="p-faq-accordion">
      {% for block in section.blocks %}
        <li class="accordion js-accordion">
          <button
            style="
              font-size: {{ block.settings.title_font_size }}px;
              color: {{ block.settings.title_font_color }};
              font-weight: {{ block.settings.title_font_weight }};
            "
            class="accordion-head"
          >
            <span>{{ block.settings.title }}</span>
          </button>
          <div class="accordion-body">
            <div
              style="
                font-size: {{ block.settings.text_font_size }}px;
                color: {{ block.settings.text_font_color }};
                font-weight: {{ block.settings.text_font_weight }};
              "
              class="accordion-body-inner"
            >
              <p>{{ block.settings.text }}</p>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% style %}
  /* common */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  figure {
    margin: 0;
  }
  .{{ section.id }}-article-wrapper {
    padding-bottom: {{ section.settings.padding_bottom_pc }}px;
  }
  .padding-LR {
    padding: 0 14px;
  }
  .content {
    margin: 0 auto;
    max-width: 1200px;
  }

  .title {
    padding: 20px 0;
    padding-left: 14px;
    margin-bottom: 40px;
    background-color: #D9D9D9;
  }

  /* accordion */
  .accordion {
    padding: 0 20px;
    border: 1px solid #DFDFDF;
  }
  .accordion + .accordion {
    margin-top: 20px;
  }
  .accordion-head {
    cursor: pointer;
    position: relative;
    text-align: left;
    padding: 20px 32px;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .accordion-head span {
    position: relative;
  }
  .accordion-head::before {
    content: "Q.";
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    transform: translateY(-50%);
  }
  .accordion-head::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    transform: translateY(-50%) rotate(135deg);
    transition: all 0.3s;
  }
  .accordion.is-open .accordion-head::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .accordion-body {
    opacity: 0;
    overflow: hidden;
    position: relative;
    padding: 0 32px;
    padding-bottom: 0;
    height: 0;
    border-top: 1px solid #DFDFDF;
    transition: all 0.2s;
  }
  .accordion-body-inner {
    padding: 20px 0;
  }
  .accordion.is-open .accordion-body {
    opacity: 1;
  }
  .accordion-body ul {
    margin: 10px 0;
  }
  .accordion-body p + p {
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .{{ section.id }}-article-wrapper {
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
    .title {
      margin-left: -14px;
      margin-right: -14px;
    }
    .heading-wrapper {
      grid-template-columns: 1fr;
    }
  }
{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    const accordions = document.querySelectorAll('.js-accordion');
    if(accordions.length){
      accordions.forEach((accordion) => {
        const accordionHead = accordion.querySelector('.accordion-head');
        const accordionBody = accordion.querySelector('.accordion-body');
        accordionHead.addEventListener('click', ()=> {
          if(!accordion.classList.contains('is-open')){
            accordion.classList.add('is-open');
            accordionBody.style.height = accordionBody.scrollHeight + 'px'
          }else {
            accordion.classList.remove('is-open');
            accordionBody.style.height = 0
          }
        })
      })
    }
  })
</script>

{% schema %}
  {
    "name": "ブログ記事：FAQ",
    "settings": [
      {
        "type": "textarea",
        "id": "title",
        "label": "セクションタイトル"
      },
      {
        "type": "range",
        "id": "padding_bottom_pc",
        "label": "下部パディング(PC)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom_sp",
        "label": "下部パディング(SP)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "FAQタイトル"
          },
          {
            "type": "range",
            "id": "title_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "title_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "FAQテキスト"
          },
          {
            "type": "range",
            "id": "text_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "text_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "text_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          }
        ]
      }
    ]
  }
{% endschema %}