<section class="{{ section.id }}-article-wrapper">
  <div class="{{ section.id }}-article-cont">
    {%- if section.settings.title != blank -%}
      {% render 'article-title',
        title: section.settings.title
      %}
    {%- endif -%}
    <ul>
      {% for block in section.blocks %}
        <li class="{{ section.id }}-accordion {{ section.id }}-js-accordion">
          {%- if block.settings.title != blank -%}
            <button
              style="
                font-size: {{ block.settings.title_font_size }}px;
                color: {{ block.settings.title_font_color }};
                font-weight: {{ block.settings.title_font_weight }};
              "
              class="{{ section.id }}-accordion-head"
            >
              <span>{{ block.settings.title }}</span>
            </button>
          {%- endif -%}
          {%- if block.settings.text != blank -%}
            <div class="{{ section.id }}-accordion-body">
              <div class="{{ section.id }}-accordion-body-inner">
                <p
                  style="
                    font-size: {{ block.settings.text_font_size }}px;
                    color: {{ block.settings.text_font_color }};
                    font-weight: {{ block.settings.text_font_weight }};
                  "
                >
                  {{ block.settings.text }}
                </p>
              </div>
            </div>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% style %}
  /* common */
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
  }
  figure {
    margin: 0;
  }
  .{{ section.id }}-article-wrapper {
    padding-bottom: {{ section.settings.padding_bottom_pc }}px;
  }
  .{{ section.id }}-article-cont {
    margin: 0 auto;
    padding-left: 14px;
    padding-right: 14px;
    max-width: 1200px;
  }

  .{{ section.id }}-title {
    padding: 20px 0;
    padding-left: 14px;
    margin-bottom: 40px;
    background-color: #D9D9D9;
  }

  /* accordion */
  .{{ section.id }}-accordion {
    padding: 0 20px;
    border: 1px solid #DFDFDF;
  }
  .{{ section.id }}-accordion + .{{ section.id }}-accordion {
    margin-top: 20px;
  }
  .{{ section.id }}-accordion-head {
    cursor: pointer;
    position: relative;
    text-align: left;
    padding: 20px 32px;
    width: 100%;
    background-color: transparent;
    border: none;
  }
  .{{ section.id }}-accordion-head span {
    position: relative;
  }
  .{{ section.id }}-accordion-head::before {
    content: "Q.";
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    transform: translateY(-50%);
  }
  .{{ section.id }}-accordion-head::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    width: 10px;
    height: 10px;
    border-top: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    transform: translateY(-50%) rotate(135deg);
    transition: all 0.3s;
  }
  .{{ section.id }}-accordion.is-open .{{ section.id }}-accordion-head::after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .{{ section.id }}-accordion-body {
    opacity: 0;
    overflow: hidden;
    position: relative;
    padding: 0 32px;
    padding-bottom: 0;
    height: 0;
    border-top: 1px solid #DFDFDF;
    transition: all 0.2s;
  }
  .{{ section.id }}-accordion-body-inner {
    padding: 20px 0;
  }
  .{{ section.id }}-accordion.is-open .{{ section.id }}-accordion-body {
    opacity: 1;
  }
  .{{ section.id }}-accordion-body ul {
    margin: 10px 0;
  }
  .{{ section.id }}-accordion-body p + p {
    margin-top: 10px;
  }

  @media screen and (max-width: 768px) {
    .{{ section.id }}-article-wrapper {
      padding-bottom: {{ section.settings.padding_bottom_sp }}px;
    }
    .{{ section.id }}-title {
      margin-left: -14px;
      margin-right: -14px;
    }
  }
{% endstyle %}

<script>
  document.addEventListener('DOMContentLoaded', ()=> {
    const accordions = document.querySelectorAll('.{{ section.id }}-js-accordion');
    if(accordions.length){
      accordions.forEach((accordion) => {
        const accordionHead = accordion.querySelector('.{{ section.id }}-accordion-head');
        const accordionBody = accordion.querySelector('.{{ section.id }}-accordion-body');
        accordionHead.addEventListener('click', ()=> {
          if(!accordion.classList.contains('is-open')){
            accordion.classList.add('is-open');
            accordionBody.style.height = accordionBody.scrollHeight + 'px'
          }else {
            accordion.classList.remove('is-open');
            accordionBody.style.height = 0
          }
        })
      })
    }
  })
</script>

{% schema %}
  {
    "name": "ブログ記事：FAQ",
    "settings": [
      {
        "type": "header",
        "content": "カスタムセクション共通項目"
      },
      {
        "type": "textarea",
        "id": "title",
        "label": "セクションタイトル"
      },
      {
        "type": "range",
        "id": "padding_bottom_pc",
        "label": "下部パディング(PC)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 100
      },
      {
        "type": "range",
        "id": "padding_bottom_sp",
        "label": "下部パディング(SP)",
        "max": 100,
        "min": 0,
        "step": 5,
        "default": 50
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "textarea",
            "id": "title",
            "label": "FAQタイトル"
          },
          {
            "type": "range",
            "id": "title_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "title_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "title_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "FAQテキスト"
          },
          {
            "type": "range",
            "id": "text_font_size",
            "label": "フォントサイズ",
            "min": 14,
            "max": 32,
            "default": 16,
            "unit": "px"
          },
          {
            "type": "color",
            "id": "text_font_color",
            "label": "文字色",
            "default": "#000000"
          },
          {
            "type": "select",
            "id": "text_font_weight",
            "label": "フォント太さ",
            "options": [
              { "value": "400", "label": "細字" },
              { "value": "500", "label": "ノーマル" },
              { "value": "700", "label": "太字" }
            ],
            "default": "400"
          }
        ]
      }
    ]
  }
{% endschema %}